.ingridients-details__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingridients-details__health-container {
    display: flex;
    flex-direction: row;
}

.ingridients-details__health{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ingridients-details__health-count{
    margin:0;
}

.ingridients-details__health-name{
    margin-top:0;
}