.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 88px;
    justify-content: center;
}

.header__buttons-container {
    display: flex;
    flex-direction: row;
    margin-right: 112px;
}

.header__constructor-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__list-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__profile-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 289px;
}

.header__text {
    margin-top: 0;
    margin-bottom: 0;
}